* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #dde6ed;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 770px;
  margin-top: 30px;
  align-items: center;
}

.main-header {
  display: flex;
  width: 760px;
  padding: 2px;
}

.month-title {
  display: flex;
  flex: 1;
  justify-content: left;
  align-items: center;
  margin-left: 3px;
}

.time-current {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.time-left {
  display: flex;
  flex: 1;
  justify-content: right;
  align-items: center;
  margin-right: 1px;
}

.details-table {
  display: grid;
  width: 760px;
  padding: 5px;
  margin: 10px 5px 10px 5px;
  height: 105px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 5px;
  row-gap: 5px;
}

.details-cell {
  display: flex;
  height: 20px;
  background-color: #edf2ff;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px #adb5bd;
  gap: 5px;
}

.action-title {
  display: flex;
  flex: 1;
  justify-content: left;
  column-gap: 10px;
  padding-left: 5px;
}

.action-buttons {
  display: flex;
  flex: 1;
  justify-content: right;
  column-gap: 10px;
  padding-right: 5px;
}

button {
  display: grid;
  width: 25px;
  cursor: pointer;
  box-shadow: 0px 0px 3px #868e96;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #edf2ff;
  color: #7048e8;
  font-size: 13px;
}

nav button {
  width: 50px;
  height: 20px;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 3px #868e96;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #edf2ff;
  color: #7048e8;
  font-weight: 400;
  font-size: 14px;
}

.target-table {
  display: grid;
  width: 760px;
  height: 80px;
  padding: 5px;
  margin: 5px 10px 20px 10px;
  column-gap: 5px;
  row-gap: 5px;
  grid-template-columns: 25px 72px 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  transition: 0.3s ease;
}

.logo-cell {
  display: flex;
  height: 20px;

  justify-content: center;
  align-items: center;
}

.target-cell {
  display: flex;
  height: 20px;
  background-color: #edf2ff;
  justify-content: left;
  box-shadow: 0px 0px 3px #adb5bd;
}

.target-details-cell {
  display: flex;
  height: 20px;
  background-color: #edf2ff;
  justify-content: left;
  box-shadow: 0px 0px 3px #adb5bd;
  padding-left: 5px;
}

#point-timer-logo,
#point-timer-logo-2 {
  margin-left: 3px;
}

#x {
  grid-column: span 4;
  justify-content: left;
}

.point-time-line {
  background-color: #0b7285;
  flex: 0.9;
  transition: 0.3s ease;
}

#y {
  grid-column: span 4;
  justify-content: left;
}

.target-time-line {
  background-color: #0b7285;
  flex: 0.9;
  transition: 0.3s ease;
}

#z {
  grid-column: span 4;
  justify-content: left;
  gap: 0px;
}

.learn {
  background-color: #66a80f;
}

.work {
  background-color: #2f9e44;
}

.physical {
  background-color: #12b886;
}

.learn-time-line {
  background-color: #66a80f;

  flex: 5;
  transition: 0.3s ease;
}
.work-time-line {
  background-color: #2f9e44;
  flex: 10;
  transition: 0.3s ease;
}

.physical-time-line {
  background-color: #12b886;
  flex: 10;
  transition: 0.3s ease;
}

.useful-time-line {
  background-color: #0b7285;
  flex: 10;
  transition: 0.3s ease;
}

nav {
  display: flex;
  width: 100%;
  margin: 0 0 20px 0;
}

.nav-left {
  display: flex;
  flex: 1;
  justify-content: left;
  margin-left: 10px;
}

.nav-center {
  display: flex;
  flex: 0.42;
  justify-content: center;
  align-items: center;
  display: grid;
  cursor: pointer;
  box-shadow: 0px 0px 3px #adb5bd;
  border: none;
  outline: none;
  background-color: #edf2ff;
  font-size: 16px;
}

.nav-right {
  display: flex;
  flex: 1;
  justify-content: right;
  margin-right: 10px;
}

.day-title {
  display: flex;
}

.weekdays {
  display: flex;
  width: 760px;
  margin: 5px;
  box-shadow: 0px 0px 3px #adb5bd;
  margin: 5px 10px 20px 10px;
  border: none;
  outline: none;
  background-color: #edf2ff;
  font-size: 16px;
}

.weekdays div {
  display: flex;
  width: 100px;
  margin: 5px;
  justify-content: center;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.day {
  display: flex;
  width: 100px;
  height: 100px;
  padding: 7px;
  cursor: pointer;
  background-color: #edf2ff;
  margin: 5px;
  box-shadow: 0px 0px 3px #91a7ff;

  flex-direction: column;
  justify-content: space-between;
}

.day:hover {
  background-color: #99e9f2;
}

.day + #current-day {
  background-color: #afd3f0;
}

.selected {
  background-color: #99e9f2;
}

.padding {
  cursor: default !important;
  background-color: #dde6ed !important;
  box-shadow: none !important;
}

.activity {
  display: flex;
  font-size: 14px;

  /*   background-color: #58bae4; */
  color: #edf2ff;
  border-radius: 10px;
  justify-content: center;
  overflow: hidden;
}

.hidden {
  display: none;
}
